@import 'grid';

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: 'Roboto';
}

a {
  color: #000;
  text-decoration: none;
}
a:visited {
  color: #000;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  padding: 10px;
}
li.active {
  background-color: #d3d3d3;
}

.navigation {
  height: 100vh;
  position: fixed;
  width: 250px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.signature {
  width: 75%;
}

.content {
  margin-left: 250px;
  width: calc(100% - 250px);
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.polaroid-container {
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  width: 440px;
  height: 540px;
  background-color: #f2f2f2;

  img {
    margin: 20px;
    width: 400px;
    height: 400px;
    animation: polaroid-fadein 4s ease-in-out;
  }
}

@keyframes polaroid-fadein {
  from {
    -webkit-filter: brightness(0%);
    filter: brightness(0%);
  }
  to {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
  }
}

.photo-layout {
  width: 100%;
}

.photo {
  width: 25%;

  img {
    padding: 10px;
    padding-bottom: 5px;
    width: 100%;
  }
}

// THUMBNAIL & GALLERY STOOF
.my-gallery figure {
  margin: 0;
}
.my-gallery figcaption {
  display: none;
}
